section.info {
    width: 100%;
    padding: 200px 30px;
    font-size: 1.1rem;
    line-height: 2.4rem;
    letter-spacing: 2px;
}

section.info_2 {
    padding: 150px 30px 60px;
}

section.info p {
    position: relative;
}

section.info .big {
    font-size: 3rem;
}


.index_masonry .col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.index_masonry a img {
    width: 100%;
}

/*.index_masonry a:hover img{
    opacity: 0.7;
    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -ms-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}*/

.index_masonry .b_info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px 80px;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2rem;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index_masonry .s_info_l {
    width: 40%;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2rem;

    position: absolute;
    left: 25%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index_masonry .s_info_r {
    width: 40%;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-align: center;
    line-height: 2rem;

    position: absolute;
    left: 75%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index_slider {
    float: left;
    width: 100%;
    padding: 0 5%;
    margin-bottom: 80px;
}

/*BUTTON */
.buttonBox {
    float: left;
    margin-top: 0px;
    width: 70%;
    text-align: center;

    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.buttonBox button {
    padding: 20px 50px;
    position: relative;
    background: #fff;
    text-transform: uppercase;
    color: #666;
    font-weight: normal;
    letter-spacing: 2px;
    border: none;
    font-size: 1.1rem;
    outline: none;
}

.border {
    position: absolute;
    background: none;
    transition: all .5s ease-in-out;
}

#first>.border:nth-of-type(1) {
    top: 0;
    left: 0;
    border-left: 1px solid #666;
    border-top: 1px solid #666;
    width: 50px;
    height: 40px;
}

#first>.border:nth-of-type(2) {
    bottom: 0;
    right: 0;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    width: 50px;
    height: 40px;
}

#first:hover .border {
    width: 290px;
    height: 75px;
}


@media only screen and (min-width: 481px) {
    section.info {
        padding: 180px 15% 350px 15%;
    }

    section.info_2 {
        padding: 200px 15% 120px 15%;
    }

    .index_masonry .b_info {
        padding: 60px 120px;
    }

    .index_masonry .s_info_l,
    .index_masonry .s_info_r {
        width: 100%;
        font-size: 1.1rem;
        top: 40%;
    }

    .index_slider {
        padding: 0 15%;
        margin-bottom: 150px;
    }

    /*BUTTON */
    .buttonBox {
        width: 275px;
    }
}

@media only screen and (min-width: 1025px) {
    section.info p {
        position: absolute;
        left: 47%;
        -webkit-transform: translate(-47%, -50%);
        -moz-transform: translate(-47%, -50%);
        -ms-transform: translate(-47%, -50%);
        -o-transform: translate(-47%, -50%);
        transform: translate(-47%, -50%);
    }

    /*BUTTON */
    .buttonBox {
        width: auto;
        margin-top: 150px;
    }

    .buttonBox button {
        padding: 20px 100px;
    }


}

@media only screen and (min-width: 1400px) {
    section.info p {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }


}

