/* 背景圖（手機） */
.about_con .img_1 {
    background: url(../img/img1_s.jpg) 50% 0 no-repeat;
    background-size: cover;
}

.about_con .img_2 {
    background: url(../img/img2_s.jpg) 50% 0 no-repeat;
    background-size: cover;
}

.about_con .img_3 {
    background: url(../img/img3_s.jpg) 50% 0 no-repeat;
    background-size: cover;
}

/* 區塊基本結構 */
.about_con .item {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
}

.about_con .item img {
    width: 100%;
    display: block;
}

/* 文字（共用/手機） */
.about_con .text {
    position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.about_con .text .maintitle {   
    font-size: 36px!important; 
    letter-spacing: 4px!important;
}

.about_con .text .subtitle {
    font-size: 20px!important;
    letter-spacing: 2px!important;
}

.about_con .text p {
    font-size: 14px;
    letter-spacing: 1px;
    margin: 25px 0 0;
    line-height: 24px;
}

/* 手機陰影（保留） */
.layout_l_l {}

.layout_l_c {}

.layout_l_r {}

.layout_c_l {}

.layout_c_c {}

.layout_c_r {
    text-shadow: 1px 1px 3px #000;
}

.layout_r_l {}

.layout_r_c {}

.layout_r_r {}

/* ------------------ 桌機 ------------------ */
@media only screen and (min-width: 1025px) {

    /* 背景圖（桌機） */
    .about_con .img_1 {
        background: url(../img/img1.jpg) 50% 0 no-repeat;
        background-size: cover;
    }

    .about_con .img_2 {
        background: url(../img/img2.jpg) 50% 0 no-repeat;
        background-size: cover;
    }

    .about_con .img_3 {
        background: url(../img/img3.jpg) 50% 0 no-repeat;
        background-size: cover;
    }

    /* 文字（桌機） */
        .about_con .text {
            width: 40%;
            max-width: 600px;
            /* 可依喜好調整 */
            padding: 0;   }

    .about_con .text .maintitle {
        font-size: 58px;
        letter-spacing: 5px;
        line-height: 62px;
    }

    .about_con .text .subtitle {
        font-size: 32px;
        letter-spacing: 3px;
        line-height: 60px;
    }

    .about_con .text p {
        font-size: 18px;
        letter-spacing: 2px;
        margin: 35px 0 0;
        line-height: 32px;
    }

    /* 位置/對齊（桌機） */
    .about_con .layout_l_l {
        position: absolute;
            text-align: left;
            left: 30%;
            top: 50%;
            transform: translate(0, -50%);
    }

    .about_con .layout_l_c {
        position: absolute;
        text-align: center;
        left: 33%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_l_r {
        position: absolute;
        text-align: right;
        left: 33%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_c_l {
        position: absolute;
        text-align: left;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_c_c {
        position: absolute;
        text-align: center;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_c_r {
        position: absolute;
        text-align: right;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_r_l {
        position: absolute;
        text-align: left;
        left: 67%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_r_c {
        position: absolute;
        text-align: center;
        left: 67%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .about_con .layout_r_r {
        position: absolute;
            text-align: right;
            left: 70%;
            top: 50%;
            transform: translate(0, -50%);
    }
}