body{
  background-image: url(qa_bg_s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#accordion .panel{
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading{
    padding: 0;
    border-radius: 30px;
}
#accordion .panel-title a{
    display: block;
    padding: 15px 20px 15px 80px;
    background: #f5e9d2;
    color: #747474;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 2.4rem;
    border: 1px solid transparent;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed{
    background: #fff;
    color: #999;
    border: 1px solid #ddd;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after{
    content: "\f107";
    font-family: fontawesome;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    /*background: #a582b7;*/
    font-size: 2rem;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);*/
    position: absolute;
    top: -5px;
    left: 0px;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed:after{
    content: "\f105";
    /*background: #fff;*/
    color: #666;
    /*border: 1px solid #ddd;*/
    box-shadow: none;
}
#accordion .panel-body{
    padding: 20px 25px 10px 9px;
    background: transparent;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2.2rem;
    color: #666;
    border-top: none;
    position: relative;
}
#accordion .panel-body p{
    padding-left: 25px;
}

@media only screen and (min-width: 990px) {
body{
  background-image: url(qa_bg.jpg);
  background-repeat-y: repeat;
  background-size: 100%;
}

}

@media only screen and (min-width: 1025px) {

}

