/* -------------------------------- 
login
-------------------------------- */
#login .modal-body .link{
    padding: 20px 0;
}
#login .modal-body .link a{
    float: none;
}
#login .modal-body .link i{
    margin-right: 5px;
}
#login .modal-body .link a{
    font-size: 0.8rem;
}
.modal-header,.modal-body{
    padding: 15px;
}
.cd-form .form-group .cd-form-list a{
    color: #298FD3;
    transition: .3s; 
}
.cd-form .form-group .cd-form-list a:hover{
    color: #56BBFD;
}
button.btn-basic{
    float: left;
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
    padding: 15px 20px;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 3px;
    white-space: nowrap;
    transition: .5s;    
}

a.btn-small{
    float: left;
    width: 60%;
    font-size: 1.1rem;
    color: #666;
    border: #666 1px solid;
    padding: 10px 20px;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
    white-space: nowrap;
    transition: .5s;    


    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.purchase_info button.btn-basic{
    margin: 50px 0 15px;
}

form .half{
    width: 100%;
}
form .p_or{
    display: none;
    float: left;
    width: 4%;
    text-align: center;
    padding: 15px 0;
}

.btn-submit{
    background-color: #666;    
}
.btn-fb{
    background-color: #375591;    
}

form button:hover,button.btn-basic:hover,a.btn-small:hover{
    opacity: 0.7;
}
.shop-wrapper-bottom .sec{
    background-color: #fff;
    color: #666;
    border: #666 1px solid;
}
.shop-wrapper-bottom .pri{
    background-color: #666;
    color: #fff;
}
label,input {
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 1px;
}
/* -------------------------------- 
modal彈跳視窗
-------------------------------- */
.modal-icon {
    width: 100px;
    height: 100px;
    border: 4px solid #808080;
    border-radius: 50%;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    box-sizing: content-box;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-icon.modal-success {
    border-color: #a5dc86;
}

.modal-icon.modal-success::before {
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.modal-icon.modal-success::after {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 60px;
    transform-origin: 0 60px;
}

.modal-icon.modal-success .placeholder {
    width: 100px;
    height: 100px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.modal-icon.modal-success .line {
    height: 5px;
    background-color: #a5dc86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.modal-icon.modal-success .line.tip {
    width: 31px;
    left: 16px;
    top: 60px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-icon.modal-success .line.long {
    width: 59px;
    right: 8px;
    top: 50px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.show-ani {
    -webkit-animation: showZeroAlert 0.6s;
    animation: showZeroAlert 0.6s;
}

.show-ani.no-animation {
    -webkit-animation: none;
    animation: none;
}
@-webkit-keyframes showZeroAlert {
    50% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    65% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    80% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes showZeroAlert {
    50% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
    65% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    80% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.width-s .modal-dialog{
    width: 100%;
}

.modal .title{
    text-align: center;
    letter-spacing: 3px;
    font-size: 2rem;
}

.modal .subtitle{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

/* -------------------------------- 
Form
-------------------------------- */

.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select,
.cd-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input[type="text"],
.cd-form input[type="email"],
.cd-form textarea,
.cd-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="text"]:focus,
.cd-form input[type="email"]:focus,
.cd-form textarea:focus,
.cd-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.cd-form .cd-select {
  /* select element wapper */
  position: relative;
}
.cd-form .cd-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
  margin-right: 10px;
}
.cd-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.cd-form select::-ms-expand {
  display: none;
}
.cd-form .cd-form-list {
  padding-left: 10px;
}
.cd-form .privacy{
text-align: center;
}
.cd-form .cd-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 20px;
  margin-left: 5px;
}
.cd-form input[type=radio],
.cd-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  padding-left: 24px;
  font-size: 1.1rem;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="checkbox"] + label::before {
  border: 1px solid #bbb;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.cd-form input[type="radio"] + label::before,
.cd-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.cd-form input[type="checkbox"] + label::before,
.cd-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.cd-form input[type="radio"] + label::after,
.cd-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.cd-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/cd-icon-radio.svg");
}
.cd-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/cd-icon-check.svg");
}
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.cd-form input[type="radio"]:checked + label::before,
.cd-form input[type="radio"]:checked + label::after,
.cd-form input[type="checkbox"]:checked + label::before,
.cd-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: cd-bounce 0.3s;
  -moz-animation: cd-bounce 0.3s;
  animation: cd-bounce 0.3s;
}
.cd-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}
.cd-form input[type="submit"] {
  /* button style */
  border: none;
  background: #2c97de;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.no-touch .cd-form input[type="submit"]:hover {
  background: #42a2e1;
}
.cd-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.cd-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.cd-form [required] {
  background: url("../img/cd-required.svg") no-repeat top right;
}
.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px;
}
.cd-form .error {
  border-color: #e94b35 !important;
}
/*@media only screen and (min-width: 600px) {

  .cd-form legend + div {
    margin-top: 20px;
  }
  .cd-form h4, .cd-form .cd-label {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .cd-form input[type="text"],
  .cd-form input[type="email"],
  .cd-form textarea,
  .cd-form select {
    padding: 16px;
  }
}*/

@-webkit-keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes cd-bounce {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes cd-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}

/* -------------------------------- 
shopCart list
-------------------------------- */
.stepbox{
    margin-bottom: 50px;
    text-align: center;
}
.stepbox .now .step{
    background-color: #666;
    color: #fff;
}
.stepbox .now p{
    color: #666;
}
.stepbox .step{
    border: 2px solid #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0px;
    padding: 8px 14px;
    font-size: 0.9rem;
    color: #ccc;
}
.stepbox p{
    display: block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #ccc;
}
.stepbox .arrow{
    padding: 15px 0;
    color: #bbb;    
    float: left;
}
.stepbox .arrow i{
    font-size: 1rem;
}
.stepbox .col-sm-3,.stepbox .col-sm-4{
    float: left;
    width: 28%;
}
.stepbox .pc{
    display: none;
}


.shoplist{
    text-align: center;
    width: 100%;
    float: left;
    margin: 20px 0;
}

.shoplist .listTit{
    padding: 30px 0;
    border-top: #999 1px solid;
    border-bottom: #999 1px solid;
    display: table;
    width: 100%;
    float: left;
}
.shoplist .listCon{
    padding: 50px 0;
    border-bottom: #ccc 1px solid;
    display: table;
    width: 100%;
    float: left;
}
.shoplist .listItem{
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.shoplist .pic img{
    width: 80px;
}
.shoplist .infolist{
    text-align: left;
    padding-left: 20px;
    line-height: 28px;
    font-size: 0.9rem;
}
.shoplist .infolist .no{
    font-size: 0.7rem;
}
.shoplist .infolist .title{
    font-size: 1.1rem;
    margin-bottom: 15px;
}
.shoplist .spec .cd-select:not(:first-child){
    margin-top: 20px;
}
.shoplist .actname,.shoplist .price{
    color: #ce0000;
}
.red{
    color: #ce0000;
}
.shoplist .delete button,.shoplist .listBtn button{
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 20px;
}    

/* -------------------------------- 
購物方式選擇
-------------------------------- */
.shop-option-wrapper{
    width: 100%;
    float: left;
    margin: 60px 0;
    line-height: 28px;
    letter-spacing: 1px;
}

.shop-option-wrapper .form-group p{
    margin-top: 18px;
    font-size: 1.1rem;
    padding: 0 15px;
    letter-spacing: 2px;
    line-height: 28px;
}
.shop-option-wrapper .shop-wrapper-bottom{
    display: flex;
    margin-top: 60px;
}
.shop-wrapper-bottom{
    float: left;
    width: 100%;
    margin-top: 60px;
}
.shop-wrapper-bottom .notic-wrappe{
    width: 50%;
    float: left;
    border: #bbb 1px solid;
    padding: 3%;
}
.shop-wrapper-bottom .left-wrappe{
    width: 50%;
    float: left;
    border: transparent 1px solid;
}
.shop-wrapper-bottom .shop-wrapper-right{
    width: 45%;
    float: left;
    margin-left: 5%;
}
.tabcontent .shop-wrapper-bottom .shop-wrapper-right{
    margin-bottom: 60px;
}
.shop-wrapper-bottom .pay-wrapper{
    width: 100%;
}
.shop-wrapper-bottom .pay-wrapper td{
    padding: 10px 1%;
    text-align: right;
}
.shop-wrapper-bottom .pay-wrapper td.detail{
    padding-right: 10%;
    text-align: left;
}
.shop-wrapper-bottom .pay-wrapper td.total{
    font-size: 1.6rem;
    color: #ce0000;
}

.cart-nav button{
    float: left;
    width: 48%;
    font-size: 1.3rem;
    padding: 15px 20px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 3px;
    white-space: nowrap;
    transition: .5s;
}
.cart-nav button.pri{
    background-color: #666;
    color: #fff;
    margin-left: 4%;
}
.cart-nav button.sec{
    background-color: #fff;
    color: #666;
    border: #666 1px solid;
}
.cart-nav{
margin-top: 5%;
}

/*購買資訊 purchase_info*/

.purchase_info{
  float: left;
  width: 100%;
  padding: 80px 0;
  border-top: #bbb 1px solid;
}
.purchase_info .store{
  margin-top: 50px;
}
.purchase_info .store img{
  width: 100px;
  float: left;
}
.purchase_info .store_p{
  float: left;
  width: 100%;
  line-height: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 1rem;
}
.purchase_info .store_p .title{
  font-size: 1.3rem;
}
    /*隱藏區塊用*/
.purchase_info .box{
  display: none;
}
.purchase_info .bS02 .form-group{
    margin-left: 0px;
 }   

.purchase_info .form-group .addrTW{
    width: 33.33%;
    padding-right: 2%;
    float: left;
    margin-bottom: 20px;
 }
.purchase_info .form-group .addrTW:last-child{
    padding-right: 0;
 }

/*會員中心*/
.shopList-table{
    width: 100%;
    table-layout: fixed;
}
.shopList-table th{
    font-weight: normal;
    text-align: center;
    line-height: 50px;
    border-top: #999 1px solid;
    border-bottom: #999 1px solid;
    width: 100%;
}

.shopList-table td:before {
    display: none;
  }
 .shopList-table th, .shopList-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .shopList-table th:first-child, 
  .shopList-table td:first-child {
    padding-left: 0;
  }
  .shopList-table th:last-child, 
  .shopList-table td:last-child {
    padding-right: 0;
  }
   .shopList-table th, 
   .shopList-table td {
    padding: 1em !important;
  }
.cd-form{
  width: 100%;
  float: left;
}

@media only screen and (min-width: 481px) {
/* -------------------------------- 
login
-------------------------------- */
#login .modal-body .link .col-sm-3>a{
    float: right;
} 
#login .modal-body .link a{
    font-size: 1rem;
    text-decoration: none;
    transition: .3s;
}
.modal-header,.modal-body{
    padding: 30px;
}
label {
    font-size: 1.1rem;
    line-height: 50px;
}
/* -------------------------------- 
Form
-------------------------------- */
.cd-form input[type="radio"] + label,
.cd-form input[type="checkbox"] + label {
  font-size: 1.1rem;
  padding-top: 5px;
}
/* -------------------------------- 
shopCart list
-------------------------------- */
.stepbox .col-sm-3,.stepbox .col-sm-4{
    width: 27%;
}
.shoplist .infolist{
    padding-left: 50px;
}
.shoplist .infolist .title{
    font-size: 1.2rem;
}
.content h2{
margin-bottom: 30px;
}
}
@media only screen and (min-width: 1025px) {
/* -------------------------------- 
form
-------------------------------- */
form .half{
    width: 48%;
}
.shop-wrapper-bottom .sec{
    margin-top: 50px;
}
.shop-wrapper-bottom .pri{
    margin-left: 4%;
    margin-top: 50px;
}
form .p_or{
    display: inline-block;
}
/* -------------------------------- 
shopCart list
-------------------------------- */
.stepbox .step{
    width: 60px;
    height: 60px;
    margin-right: 20px;
    padding: 18px 21px;
    font-size: 1.4rem;
}
.stepbox p{
    display: inline;
    font-size: 1.3rem;
    letter-spacing: 3px;
}
.stepbox .arrow i{
    font-size: 2rem;
}

.stepbox .pc{
    display: inline;
}
.shoplist .infolist .mobile{
    display: none;
}
.width-s .modal-dialog {
    width: 500px;
}

/*購買資訊 purchase_info*/
.purchase_info .store img{
  width: 80px;
}
.purchase_info .store_p{
  width: auto;
  margin-left: 30px;
  margin-top: 0px;
  line-height: 40px;
}


}

@media only screen and (max-width: 1024px) {
/* -------------------------------- 
shopCart list
-------------------------------- */
.shoplist .listTit {
    display: inline-flex;
}
.shoplist .listCon .pic,.shoplist .listCon .delete{
    padding: 0;
}
.shoplist .pc{
    display: none;
}

.shoplist .infolist .count{
    margin: 30px 0;
}

.shoplist .infolist .price{
    font-size: 1.2rem;
}
/* -------------------------------- 
購物方式選擇
-------------------------------- */
.shop-option-wrapper fieldset{
    border-bottom: #ccc 1px dashed;
}
.shop-option-wrapper fieldset .cd-form-list li {
    width: 100%;
    line-height: 50px;
    margin-left: 20px;
}
.shop-option-wrapper .form-group p.col-sm-2 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 15px;
}
.shop-option-wrapper .shop-wrapper-bottom{
    display: flex;
    flex-wrap: wrap;
}
.shop-wrapper-bottom .notic-wrappe{
    width: 100%;
    margin-top: 20%;
    order: 2;
}
.shop-wrapper-bottom .shop-wrapper-right{
    width: 100%;
    margin-left: 0;
    order: 1;
}
.cart-nav button {
    width: 100%;
}
.cart-nav button.pri {
    margin-left: 0%;
    margin-top: 20px;
}
/*會員中心*/
  .shopList-table {
   background: #fff;
   overflow: hidden;
  }
  .shopList-table tr{
    border: #ddd 2px solid;
  }
  .shopList-table tr:nth-of-type(2n){
    background: #eee;
  }
  .shopList-table th, 
  .shopList-table td {
    margin: 0.5em 1em;
  }
  .shopList-table {
    min-width: 100%;
  }

  .shopList-table th {
    display: none;
  }

  .shopList-table td {
    display: block;
  }

  .shopList-table td:before {
    content: attr(data-th) " : ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
  }

  .shopList-table th, .shopList-table td {
    text-align: left;
  }

  .shopList-table th, .shopList-table td:before {
    font-weight: bold;
  }
  
}



@media only screen and (max-width: 480px) {
.purchase_info .radio label{
  width: 100%;
}

.purchase_info fieldset .cd-form-list li{
  width: 100%;
  line-height: 50px;
}
.purchase_info .same label{
  margin-top: 10px;
}

label:not(.firLabel){
  margin-top: 20px;
  font-weight: bold;
}


}


.shop-wrapper-right {
  margin-left: auto;
  max-width: 40%;
}