@media only screen and (max-width: 1399px) {
.to-top-s{
      z-index: 9;
      background: rgb(255,255,255); 
      width: 45px;
      height: 45px;
      border-radius: 99em;
      text-align: center;
      border: #6f6f6f solid 1px;
  }
.to-top-s img{
      width: 23px;
      margin-top: 9px;
  } 

}


@media only screen and (min-width: 1400px) {
.to-top{
      z-index: 9;
      background: rgb(255,255,255); 
      width: 50px;
      height: 50px;
      border-radius: 99em;
      text-align: center;
      border: #6f6f6f solid 1px;
  }
.to-top img{
      width: 25px;
      margin-top: 10px;
  } 

}
