/*fadeInDown2*/
@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    -ms-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.fadeInDown2 {
  -webkit-animation-name: fadeInDown2;
  animation-name: fadeInDown2;
}



/*fadeInUp2*/
@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    -ms-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: transform: translate(-50%,-50%);
    -ms-transform: transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}




@media screen and (min-width: 1025px) {


/*fadeInDown2*/
@-webkit-keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
  }
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,-50px);
    -ms-transform: translate(-50%,-50px);
    transform: translate(-50%,-50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
  }
}







/*fadeInUp2*/
@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,50px);
    transform: translate(-50%,50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: transform: translate(-50%,0%);
    transform: translate(-50%,0%);
  }
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%,50px);
    -ms-transform: translate(-50%,50px);
    transform: translate(-50%,50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: transform: translate(-50%,0%);
    -ms-transform: transform: translate(-50%,0%);
    transform: translate(-50%,0%);
  }
}



}