* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#effect-6{
   /* margin-top: 100vh;*/
}
/* flexslider */

.flexslider {
    position: relative;
    height: 100vh;
    top: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    /*background: url(../img/loading.gif) 50% no-repeat;*/
}
.flexslider .masking_w{
    float: left;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 100vh;
    position: relative;
}

.slides {
    position: relative;
    z-index: 1;
}

.slides li {
    height: 100vh;
}

.flex-control-nav {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.flex-control-nav li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 5px;
    *display: inline;
    zoom: 1;
}

.flex-control-nav a {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 50px;
    overflow: hidden;
    background: url(../img/dot.svg) right 0 no-repeat;
    cursor: pointer;
    background-size: cover;
}

.flex-control-nav .flex-active {
    background-position: 0 0;
}

.flex-direction-nav {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 45%;
}

.flex-direction-nav li a {
    display: block;
    width: 50px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
}

.flex-direction-nav li a.flex-prev {
    display: none;
    left: 0px;
    background: url(../img/prev.svg) center center no-repeat;
    background-size: contain;
}

.flex-direction-nav li a.flex-next {
    display: none;
    right: 0px;
    background: url(../img/next.svg) center center no-repeat;
    background-size: contain;
}

.flexslider .slides .item .text .mainimg img{
    width: 80%;
}
.flexslider .slides .item .text .mainimg_video img{
    width: 90%;
}
.flexslider .slides .item_1{
	background:url(../img/img1_s.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.flexslider .slides .item_2{
	background:url(../img/img2_s.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.flexslider .slides .item_3{
	background:url(../img/img3_s.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.flexslider .slides .item_4{
	background:url(../img/img4_s.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.flexslider .slides .item_5{
	background:url(../img/img5_s.jpg) 50% 0 no-repeat;
	background-size: cover;
}
.flexslider .slides .item_6{
    background:url(../img/img6_s.jpg) 50% 0 no-repeat;
    background-size: cover;
}




/* bannner layout */
.text {
    position: absolute;
    text-align: center;
    color: #666;
    width: 100%;
    top: 62%;
    left: 50%;
    margin-left: auto;
    padding: 0 30px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .text .maintitle {
        font-size: 46px;
        letter-spacing: 4px;

    }

    .text .subtitle {
        font-size: 26px;
        letter-spacing: 2px;
        line-height: 32px;
    }

    .text p {
        font-size: 14px;
        letter-spacing: 1px;
        margin: 25px 0 0;
        line-height: 32px;
    }




  /*手機版陰影*/
.layout_l_l{
 } 

.layout_l_c{
 }     

.layout_l_r{
}

.layout_c_l{

 }  

.layout_c_c{
} 

.layout_c_r{
    text-shadow: 1px 1px 3px #000;
}     

.layout_r_l{
}                     

.layout_r_c{
} 

.layout_r_r{
}


/* 表格版面: 481px 到 1022px。樣式繼承自: 行動版面。 */
@media only screen and (min-width: 481px) {
.text {
    padding: 0 60px;
}
.flex-direction-nav li a.flex-prev {
    display: block;
    left: 10px;
}

.flex-direction-nav li a.flex-next {
    display: block;
    right: 10px;
}
.flexslider .masking_w{
    background-color: rgba(255,255,255,0);
}
.flexslider .slides .item .text .mainimg_video img{
    width: 60%;
}
}



/* 桌面版面: 1023px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */
@media only screen and (min-width: 1023px) {
.flex-direction-nav li a.flex-prev {
    left: 30px;
}

.flex-direction-nav li a.flex-next {
    right: 30px;
}
.flexslider .masking_w{
    background-color: rgba(255,255,255,0);
}
.flexslider .slides .item_1{
    background:url(../img/img1.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.flexslider .slides .item_2{
    background:url(../img/img2.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.flexslider .slides .item_3{
    background:url(../img/img3.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.flexslider .slides .item_4{
    background:url(../img/img4.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.flexslider .slides .item_5{
    background:url(../img/img5.jpg) 50% 0 no-repeat;
    background-size: cover;
}
.flexslider .slides .item_6{
    background:url(../img/img6.jpg) 50% 0 no-repeat;
    background-size: cover;
}




.text {
    width: 36%;
    padding: 0px;
}

    .text .maintitle {
        font-size: 75px;
        letter-spacing: 5px;
    }

    .text .subtitle {
        font-size: 36px;
        letter-spacing: 3px;
        margin-top: 30px;
    }

    .text p {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 35px 0 0;
        line-height: 32px;
    }




    .flexslider .left {
        position: absolute;
        text-align: left;
        margin-left: auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .flexslider .center {
        position: absolute;
        text-align: center;
        margin-left: auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .flexslider .right {
        position: absolute;
        text-align: right;
        margin-left: auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .flexslider .layout_l_1 {
        left: 30.5%;
        top: 35%;
    }
    .flexslider .layout_l_2 {
        left: 30.5%;
        top: 50%;
    }
    .flexslider .layout_l_3 {
        left: 30.5%;
        top: 75%;
    }
    .flexslider .layout_c_1 {
        left: 50%;
        top: 35%;
    }
    .flexslider .layout_c_2 {
        left: 50%;
        top: 50%;
    }
    .flexslider .layout_c_3 {
        left: 50%;
        top: 75%;
    }
    .flexslider .layout_r_1 {
        left: 69.5%;
        top: 35%;
    }
    .flexslider .layout_r_2 {
        left: 69.5%;
        top: 50%;
    }
    .flexslider .layout_r_3 {
        left: 69.5%;
        top: 75%;
    }
}
