#container {
  width:  100%;
  margin: 0 auto;
}
section {
  height: 550px;
  margin: 0;
  background-image: url(../media/fallback.jpg);
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
section > .text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
section > .text > h1 {
  font-size: 42px;
  color: #fff;
  border-bottom: 0;
  margin: 0 0 10px;
}
section > .text > h3 {
  color: #fff;
  margin: 0;
}
#video_main {
  text-align: center;
}
